name: Build

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build.yml"
      - "packages/**"

  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/build.yml"
      - "packages/**"

  schedule:
    - cron: "0 13 * * *"

jobs:
  pyramid_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./packages/pyramid_lint

    steps:
      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Flutter and Dart SDK
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: stable
          cache: true
          cache-key: flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ hashFiles('**/pubspec.lock') }}

      - name: Show Dart SDK version
        run: dart --version

      - name: Show Flutter SDK version
        run: flutter --version

      - name: Install Dependencies
        run: flutter pub get

      - name: Show outdated packages
        run: flutter pub outdated

      - name: Check formating
        run: dart format --output=none --set-exit-if-changed ./lib

      - name: Analyze
        run: flutter analyze

  pyramid_lint_test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./packages/pyramid_lint_test

    steps:
      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Flutter and Dart SDK
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: stable
          cache: true
          cache-key: flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ hashFiles('**/pubspec.lock') }}

      - name: Show Dart SDK version
        run: dart --version

      - name: Show Flutter SDK version
        run: flutter --version

      - name: Install Dependencies
        run: flutter pub get

      - name: Show outdated packages
        run: flutter pub outdated

      - name: Check formating
        run: dart format --output=none --set-exit-if-changed ./test

      - name: Analyze
        run: flutter analyze

      - name: Run custom_lint
        run: dart run custom_lint

      - name: Run tests
        run: dart test
